.product-list-wrapper {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(18rem, max-content));
    align-items: start;
    grid-gap: 7rem;
    justify-content: center;
    height: auto;
    padding: 10px;
}

.selected {
    color: white;
    background-color: crimson;
}

.product-list-item {
    border-radius: 10px;
    width: 10%;
    margin-top: 1rem;
    padding: 10px;
}

.Page-Wrapper {
    height: 5rem;
    display: flex;
    align-items: center;
}

.Page-Wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.product-list-wrapper a {
    transition-duration: 0.3s;
    border-radius: 10px;
}
