.RestaurantItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border: 1px solid red;
}

.RestaurantItem-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
