#root {
    height: 100vh;
    width: 100vw;
}
body {
    font-family: sans-serif;
   
    padding-bottom: 40px;
}

a {
    text-decoration: none !important;
    color:#2D2E2F !important;
}


label {
    display: block;
}

nav a {
    display: inline-block;
    margin: 1em;
}

form div {
    margin: 1em;
    display: inline-block;
}

.text-pur{
    color:#8c52ff !important;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type='email'] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn {
    background-color: #8c52ff !important;
}

.carousel-item.active {
    background-image: url('homebg.gif');
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
}

.thumb-post img {
  object-fit: cover; /* Do not scale the image */
  object-position: bottom; /* Center the image within the element */
  width: 225px;
  max-height: 180px;
  margin-bottom: 1rem;
}

.map {
    height: 65vh;
    overflow:hidden;
    display: flex;
    position:absolute;
     right:50px;
top:190px;
    border-radius:0.25rem;
    box-shadow: 1px 1px 5px 1px gray;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #8c52ff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
}

#pref {
    margin: 1.2rem
}

.header {
    background-color:	#c080ff;
    height: 150px;
}

.footer {
    height: 220px;
    background-color: #a64dff;
}